@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-color: #f17463;
  --blue-500: #3b82f6;
}




@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--text-color);
  --color-blue-500: var(--blue-500);


  --animate-orbit: orbit var(--duration) linear infinite;

  @keyframes orbit {

    0% {
      transform: rotate(0deg) translate(var(--translate-position)) rotate(0deg);
    }


    100% {
      transform: rotate(360deg) translate(var(--translate-position)) rotate(-360deg);
    }
  }





}








body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}